tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
misc/envs/rust/Cargo.*
misc/envs/rust/.cargo
misc/envs/haskell/.curry
misc/envs/*/src/
misc/envs/*/target/
misc/envs/*/build/
misc/envs/*/tmp/
misc/envs/*/.cache/
misc/envs/haskell/*.curry
misc/envs/haskell/random/*
misc/envs/ocaml/_build/*
misc/envs/ocaml/dune*
misc/envs/ocaml/*.ml
misc/envs/llvm/*
