[submodule "envs/qmk_firmware"]
	path = envs/qmk_firmware
	url = https://github.com/axelcool1234/qmk_firmware
	branch = master
[submodule "envs/llvm/llvm-project"]
	path = envs/llvm/llvm-project
	url = https://github.com/axelcool1234/llvm-project
	branch = main
[submodule "envs/llvm/alive2"]
	path = envs/llvm/alive2
	url = https://github.com/axelcool1234/alive2
