tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
envs/rust/Cargo.*
envs/rust/.cargo
envs/*/src/
envs/*/target/
envs/*/build/
envs/*/tmp/
envs/*/.cache/
envs/ocaml/_build/*
envs/ocaml/dune*
envs/ocaml/*.ml
