@import "../dotfiles-theme/wlogout.css";

* {
  background-image: none;
}

window {
  background-color: @overlay;
}

button {
  margin: 8px;
  color: @text;
  background-color: @surface0;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:active,
button:focus,
button:hover {
  color: @accent;
  background-color: @base;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
